<a href="https://colab.research.google.com/github/Ansh-Rai/Python_and_DSA/blob/main/Primitive_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data Structures

In [ ]:
#lists
lst=[1,'ansh',23,4]
lst.append(5)
lst.insert(2,'rai')
print(lst)
print(len(lst))

[1, 'ansh', 'rai', 23, 4, 5]
6

In [ ]:
del lst[3]
print(lst)

[1, 'ansh', 'rai', 4, 5]

In [ ]:
lst.append(["hello","world"])
print(lst)

[1, 'ansh', 'rai', 4, 5, ['hello', 'world']]

In [ ]:
lst.extend(["hello","world"])
print(lst)

[1, 'ansh', 'rai', 4, 5, ['hello', 'world'], 'hello', 'world', 'hello', 'world']

In [ ]:
print("ansh"  not in lst)

False

In [ ]:
lst.reverse()
print(lst)

['world', 'hello', 'world', 'hello', ['hello', 'world'], 5, 4, 'rai', 'ansh', 1]

In [44]:
str="one,two,three,four,five"
lst1=str.split(',')
print(lst1)
print(lst1.index("three"))

['one', 'two', 'three', 'four', 'five']
2

In [ ]:
##tuples

In [49]:
tup=(1,2,3,5,True,["hello","world"] )
#print(tup.index(3))
for i in tup:
    print(i)

1
2
3
5
True
['hello', 'world']

In [ ]:
name="ansh",
print(type(name))

<class 'tuple'>

In [50]:
#Set

In [57]:
s={1,2,3,3,4,5}
s.add(6)
s.update([10,11,12])
s.remove(6)
s.discard(10)
print(s)

{1, 2, 3, 4, 5, 11, 12}

In [59]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{1, 2, 6, 7}

In [67]:
#Dictionaries
my_dict={1:"ansh" , 2:"data science", 3:"usar"}
my_dict[3]="machine learning"
my_dict[4]="AI"
# my_dict.pop(4)
# print(my_dict[4])
print(my_dict.keys())
print(my_dict.values())

dict_keys([1, 2, 3, 4])
dict_values(['ansh', 'data science', 'machine learning', 'AI'])

In [68]:
for i in my_dict.items():
  print(i)

(1, 'ansh')
(2, 'data science')
(3, 'machine learning')
(4, 'AI')

In [74]:
# string
my_string="Hello World"
print(my_string[6])
print(my_string*3)

W
Hello WorldHello WorldHello World

In [77]:
lst="1,2,3,4,5"
lst2="and".join(lst)
print(lst2)
print(type(lst2))

1and,and2and,and3and,and4and,and5
<class 'str'>